## Python: Tuple

- A tuple is an **ordered collection** of elements, similar to a list, but **immutable**.
- Syntax: Tuples use parentheses `()` instead of square brackets `[]`.

The key here is **its elements cannot be changed**.

In [1]:
random_tuple = (1, 2, 3, 4, 5)
print(random_tuple)

(1, 2, 3, 4, 5)

In [61]:
print(type(random_tuple)) # tuple data type

<class 'tuple'>

We also can declare tuple using or without using parentheses known as `Tuple Packing`:

In [62]:
session = 'Omar', 'ITI', 'Python', 5 
print(type(session))

<class 'tuple'>

We can use slicing like list to get element or specific range of elements

In [10]:
# Accessing tuple elemnts
numbers = (1, 2, 3, 4, 5)

print(numbers[0])
print(numbers[-1])
print(numbers[:3])

1
5
(1, 2, 3)

there is a terminology called `Unpacking Tuples` or `Tuples Unpacking`, and itâ€™s a powerful feature in Python that simplifies handling multiple values at once. It's useful in various scenarios, such as **function returns**, **loops**, and **swapping variables**.

In [ ]:
person = ("Omar", 26, "Data Engineer")

name, age, track = person # Note: the number of variables are equal to the number of elements in the tuple

print(name)
print(age)
print(track)

Omar
26
Data Engineer

In [15]:
person = ("Omar", 26, "Data Engineer")

name = person[0]
age = person[1]
track = person[2]

print(name)
print(age)
print(track)

Omar
26
Data Engineer

In [13]:
person = ("Omar", 26, "Data Engineer")

name, track = person # ValueError mismatch in number of values

print(name)
print(age)
print(track)

ValueError: too many values to unpack (expected 2)

In [63]:
# function that return a tuple 
def get_session_info():
    return 'python', 'Tuple', 'ITI'

print(get_session_info())

print(type(get_session_info()))

('python', 'Tuple', 'ITI')
<class 'tuple'>

In [20]:
studnets = [("Omar", 'Data Engineering'), ("Ahmed", 'Power BI'), ("Hazrm", '.Net')]

for name, track in studnets:
    print(f"{name} is in the {track} Track.")

Omar is in the Data Engineering Track.
Ahmed is in the Power BI Track.
Hazrm is in the .Net Track.

In [ ]:
a, b = 5, 10

a, b = b, a  # Swap values without temp (Pythonic Way)

print(a)
print(b)

10
5

All arguments are packed into a tuple:

In [ ]:
def add_numbers(*args):
    # print(args)
    total = 0 
    for num in args:
        total += num 
    return total # or use the sum func to sum 

print(add_numbers(1, 2, 3, 4))

(1, 2, 3, 4)
10

So, Python **assigns normal values first**, then **packs the rest into a list**

In [ ]:
numbers = (1, 2, 3, 4, 5)

first, *middle, last = numbers

print(first)  # 1
print(middle) # [2, 3, 4]
print(last)   # 5

1
[2, 3, 4]
5

Tuples are used when data should not be changed, such as database records or configuration settings.

lighter and faster due to fixed size (immutability)

In [29]:
t = (1, 2, 3)
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [37]:
l = [1, 2, 3]
l[0] = 10  
print(l)

[10, 2, 3]

In [ ]:
l = [1, 2, 3]
print(id(l))
l += [4] 
print(l) 

print(id(l))

2362998940096
[1, 2, 3, 4]
2362998940096

In [ ]:
t = (1, 2, 3)
print(id(t))
t += (4, ) 
print(t)

print(id(t))

2362998552768
(1, 2, 3, 4)
2362999152112